.about-program{
  position: relative;
  background-color: #DEDFF2;
  padding: 40px 0;
  @media screen and (min-width: 992px){
    padding: 80px 0;
  }
  .container{
    max-width: 880px;
  }
  .section-header{
    text-align: center;
    .heading{
      padding-bottom: 30px;
      color: #000000;
      font-weight: 700;
    }
  }
  .text-content{
    color: #000000;
    text-align: center;
    @media screen and (min-width: 768px){
      text-align: left;
    }
    .blue{
      font-weight: 800;
      font-size: 22px;
      line-height: 24px;
      padding: 20px 0 50px 0;
    }
  }
  .dots{
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    @media screen and (min-width: 768px){
      top: 45%;
    }
    img{
      position: relative;
      left: 300px;
      max-width: 100px;
      @media screen and (min-width: 650px) and (max-width: 767px){
        max-width: 200px;
      }
      @media screen and (min-width: 768px){
        max-width: 300px;
        left: 290px;
      }
    }
  }
  .slide-container{
    .heading{
      color: $dark-blue;
      font-weight: 800;
      text-align: center;
      padding-bottom: 40px;
      font-size: 26px;
      @media screen and (min-width: 768px){
        font-size: 18px;
        text-align: left;
        padding-bottom: 5px;
      }
    }
  }
  .course-content{
    position: relative;
    overflow-x: hidden;
    width: 1800px;
    margin: -70px auto 0 auto;
    padding-top: 50px;
    @media screen and (min-width: 768px){
      margin-top: -50px;
    }
    .swiper-slide{
      padding: 20px;
      text-align: left;
      border-radius: 10px;
      width: 300px !important;
      display: flex;
      align-items: center;
      position: relative;
      .number{
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $blue;
        color: #FFFFFF;
        font-weight: 900;
        z-index: 100;
        display: block;
        padding: 10px 18px;
        border-radius: 50%;
      }
      &:not(.swiper-slide-active){
        position: relative;
        top: 40px;
        background-color: #FFFFFF;
        height: 160px;
        .text{
          opacity: 0.5;
          color: #000000;
        }
      }
    }
    .swiper-slide-active{
      background-color: $dark-blue;
      color: #FFFFFF;
      height: 260px;
      font-size: 22px;
      line-height: 28px;
      padding: 40px 20px;
    }
  }
  .footer{
    padding-top: 40px;
    @media screen and (min-width: 768px){
      padding-top: 20px;
    }
    .btn{
      @include btn_hover;
      background-color: $blue;
      color: #FFFFFF;
      font-weight: 700;
      width: 280px;
      font-size: 14px;
      padding: 10px;
    }
  }
}