@font-face{
  font-family: 'AbrilDiplay SemiBoldItalic';
  src: url('../../assets/fonts/Abril_Display_SemiBoldItalic.otf');
}
@font-face{
  font-family: 'AbrilDisplay BoldItalic';
  src: url('../../assets/fonts/Abril_Text_BoldItalic.otf');
}