@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  scroll-behavior: smooth;
}
html, body{
  overflow-x: hidden;
}
body{
  font-size: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}
.orange{
  color: $orange;
}
.blue{
  color: $blue;
}
@mixin btn_hover{
  &:hover{
    background-color: #FFFFFF;
    color: $blue;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.4);
  }
}
@mixin play_btn{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}