.quote{
  position: relative;
  .container{
    padding: 40px 16px;
    @media screen and (min-width: 992px){
      padding: 100px 16px 80px 16px;
    }
  }
  .bg{
    position: absolute;
    top: 0;
    height: 100%;
    &.bg-blue{
      background-color: $blue;
      width: 40%;
      left: 0;
    }
    &.bg-dark-blue{
      background-color: $dark-blue;
      width: 60%;
      right: 0;
    }
  }
  .illustrate{
    display: flex;
    justify-content: center;
    img{
      max-width: 300px;
      @media screen and (min-width: 992px){
        max-width: 380px;
      }
      @media screen and (min-width: 992px){
        max-width: 380px;
        transform: translateX(40px);
      }
    }
  }
  .text-content{
    text-align: center;
    font-family: 'AbrilDiplay SemiBoldItalic', sans-serif;
    @media screen and (min-width: 768px){
      text-align: left;
    }
    img{
      padding: 20px 0 40px 0;
    }
  }
  .text{
    color: #FFFFFF;
    font-size: 22px;
    @media screen and (min-width: 576px){
      font-size: 30px;
    }
  }
  .info{
    color: #bababa;
    font-size: 20px;
    line-height: 24px;
  }
}