.development{
  background-color: $grey;
  padding: 40px 0;
  br{
    @media screen and (max-width: 767px){
      display: none;
    }
  }
  .section-header{
    img{
      @media screen and (min-width: 576px){
        max-width: 550px;
        margin: 0 auto;
      }
    }
    .heading{
      font-weight: 700;
      color: #000000;
      font-size: 22px;
      padding: 22px 0 10px 0;
      @media screen and (min-width: 768px){
        font-size: 32px;
      }
      @media screen and (min-width: 992px){
        font-size: 42px;
      }
    }
  }
  .text.sub{
    color: #545454;
    padding-bottom: 40px;
  }

  .gallery{
    background-color: #FFFFFF;
    .img-container{
      height: 100%;
      position: relative;
      img{
        width: 100%;
        height: inherit;
        object-fit: cover;
      }
      .triangle{
        bottom: -30px;
        right: 44%;
        transform: rotate(90deg);
        position: absolute;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 50px solid #FFFFFF;
        border-bottom: 50px solid transparent;
        @media screen and (min-width: 768px){
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &.right{
          @media screen and (min-width: 768px){
            right: initial;
            left: 0;
            top: 30%;
            transform: rotate(180deg);
          }
        }
      }
    }
    .text-content{
      padding: 50px 10px;
      color: #545454;
      @media screen and (min-width: 1200px){
        padding-left: 50px;
        &.left{
          padding-right: 50px;
        }
      }
      .heading{
        color: $blue-two;
        font-weight: 700;
      }
      .text{
        padding-bottom: 10px;
      }
    }
  }
}