.prices-mobile{
  padding: 30px 0;
  @media screen and (min-width: 1300px){
    display: none;
  }
  .section-header{
    .heading{
      font-weight: 800;
      @media screen and (min-width: 660px){
        font-size: 52px;
      }
    }
  }
  .carousel{
    padding-top: 80px;
    .carousel-indicators{
      top: 0;
      height: 40px;
      li{
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        &.active{
          background-color: $blue-three;
        }
      }
    }
  }
  .package{
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    .heading{
      padding: 30px 0;
      font-weight: 800;
    }
    &.standard{
      .heading{
        background-color: $orange;
      }
      .price-container{
        background-color: #5F5F5F;
      }
    }
    &.gold{
      .heading{
        background-image: url('../assets/images/gold-texture.png');
        background-position: right top;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .price-container{
        background-color: #323232;
      }
    }
    &.premium{
      .heading{
        background-color: $blue-three;
      }
      .price-container{
        background-color: #161616;
      }
    }
    .price-container{
      margin-top: -10px;
      padding: 10px 0;
      font-family: 'Montserrat', sans-serif;
      .text{
        font-size: 14px;
      }
      .full-price{
        font-weight: 500;
        font-size: 20px;
      }
      .parcels-quant{
        font-weight: 800;
        font-size: 28px;
      }
    }
    .items{
      color: $blue-three;
      font-size: 18px;
      font-weight: 500;
      .item{
        line-height: 20px;
        padding: 20px 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
        border-right: 2px solid rgba(0, 0, 0, 0.15);
        border-left: 2px solid rgba(0, 0, 0, 0.15);
      }
      .buttons{
        .btn{
          color: #FFFFFF;
          font-weight: 800;
          max-width: 220px;
          display: block;
          padding: 16px 10px;
          margin: 10px auto;
          border-radius: 14px;
          &:nth-of-type(1){
            background-color: #50BCBD;
           }
           &:nth-of-type(2){
            background-color: #3E9192;
           }
        }
      }
    }
  }
}