.target{
  color: #FFFFFF;
  background-color: $blue;
  padding-top: 30px;
  @media screen and (min-width: 768px){
    padding-top: 50px;
  }
  @media screen and (min-width: 992px){
    padding-top: 90px;
  }
  br{
    @media screen and (max-width: 530px){
      display: none;
    }
  }
  .section-header{
    .heading{
      font-weight: 700;
      @media screen and (min-width: 992px){
        font-size: 42px;
      } 
    }
  }
  .cards{
    padding: 22px 0;
    position: relative;
    z-index: 100;
    .last-card{
      .card{
        @media screen and (min-width: 768px) and (max-width: 991px){
          width: 330px;
          margin: 0 auto;
        }
      }
    }
    .card{
      padding: 14px;
      margin-bottom: 30px;
      border-radius: 14px;
      @media screen and (min-width: 768px){
        height: 500px;
      }
      @media screen and (min-width: 992px){
        height: 470px;
      }
      &.one{
        background-color: #911723;
      }
      &.two{
        background-color: $orange;
      }
      &.three{
        background-color: $orange-two;
      }
      .heading{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 10px;
      }
      .header{
        img{
          max-width: 120px;
          transform: translateY(-30px);
        }
      }
    }
  }
}